html, body {
    width:100%;
    height:99%;
    margin:0;
}

body  {
    max-width: 1200px;
    margin:auto;
    font-family:Sans-Serif;
    text-align:left;
}

table, th, td {
    border-collapse: separate;
    border-spacing: 1px;
    border: none;
    vertical-align: top;
    padding: 5px;
}

table {
    background-color: #eeeeee;
}

th {
    background-color: #666666;
    color: #ffffff;
}

td {
    background-color:#ffffff;
}

td.more {
    overflow: hidden;
    background: transparent;
}

td.more div {
    padding: 5px;
    margin: 5px;
}

td.more.shown div {
    overflow-x:auto;
    margin-top: 5px;
    transition: height 0.7s, margin-top 0.7s;
}

td.more.folded div {
    margin-top: -400px;
    transition: height 0.5s, margin-top 0.5s;
}

a {
    border-radius:5px;
    font-weight:normal;
    padding-right:0.5em;
    padding-left:0.5em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    text-decoration:none;
    display:inline;
    transition: background 0.7s
}

a:hover {
    background:#dddddd;
    transition: background 0.7s
}

h1 {
  font-size:120%;
  line-height:2em;
  text-align: center;
  background: #eeeeee;
}

h2 {
  font-size:110%;
  text-align: left;
}


.clickable {
    cursor: pointer;
}

.filter-box * {
    display:block;
    margin: 2px 0 2px 0;
}

#nav {
    float:left;
    margin-left:-600px;
    overflow: hidden;
}

#nav:target {
    margin-left:0px;
    display:inline-block;
    margin-right: 5px;
    padding:3px;
    box-shadow: 1px 1px 2px #000000;
}

#nav-button {
    position:relative;
    top 5px;
}

.pure-g {
    letter-spacing: 0em;
}