/* VARIABLES */

/* Fonts */
$font-family : Arial, Ubuntu, Helvetica, Nimbus Sans L, Droid Sans, FreeSans, Liberation Sans, Trebuchet MS, sans-serif;

/* Colors */
$turquois       : #1aa3b1;
$turquois-light : #00c3d7;
$red            : #bf5a00;
$yello          : #ddee55;

$black          : #000000;
$dark-grey      : #666666;
$grey           : #777777;
$smokey         : #dddddd;
$almost-white   : #eeeeee;
$white          : #ffffff;
