html, body {
    width:100%;
    height:99%;
    margin:0;
    color: #777777;
}

body  {
    font-family: Arial, Ubuntu, Helvetica, Nimbus Sans L, Droid Sans, FreeSans, Liberation Sans, Trebuchet MS, Sans-Serif;
    text-align:left;
}

table, th, td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 5px;
}

#login-area {
	position: fixed;
	right: 33em;
	top: 6px;
	z-index: 1010;
}
#login-area img {
	color: #ffffff;
}
#login-area .button, #login-area .username {
	font-size:80%;
	vertical-align:middle;
}
#login-area .button {
	background: transparent;
	padding:0;
	margin:0;
}
.username {
	margin-right:0.5em;
	color: #FFFFFF;
}
a.username:hover {
	color: #FFFFFF;
    text-decoration: underline;
}

button, .button {
    background-color: #eee;
    border: 0 none rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
    font-weight:bold;
    font-size:smaller;
    line-height: normal;
    text-align: center;
    padding: 0.7em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
button:active, .button:active  {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
button:hover, button:focus, .button:hover, .button:focus {
    background-color:#eee;
}
button.selected {
    background-color:#ddee55;
}
button.day-widescreen {
    display: inline-block;
}
button.day-smallscreen {
    display: none;
}

th {
    color: #1AA3B1;
    background-color:#fff;
}

td {
    background-color:#ffffff;
}

.header img {
    height: 1.8em;
    margin: 0;
}

#language-select {
    margin-left:5px;
}

#language-select img {
    cursor: pointer;
    float:none;
    vertical-align:middle;
    height: 1.5em;
}

/* remove: */
.main-menu {
    margin-top: 0.5em;
    display: inline-block;
    float:left;
}

a {
    color: #1AA3B1;
    font-weight:normal;
    padding-right:0.5em;
    padding-left:0.5em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    text-decoration:none;
    display:inline;
    transition: background 0.7s
}

a:hover {
    color:#00c3d7;
}


.mainmenu {
}
.mainmenu.active {
	background: #FFFFFF;
	color: #1AA3B1;
	cursor: default;
}

h1 {
    height: 2em;
    overflow: hidden;
	margin-bottom: 0;
	margin-top: 0;
    clear:both;
    font-size:120%;
    line-height:1.9em;
    text-align: right;
    color: #FFFFFF;
    background: #1AA3B1;
}

h1 #mainmenu-items {
   	position: relative;
   	top: 0;
   	right: 0;
}

h1 #mainmenu-items, h1 #mainmenu-button {
	height: 2em;
	overflow: hidden;
	display: inline-block;
	margin:0;
	padding: 0;
}

h1 #pagetitle, h1 #mainmenu-button {
	display: none;
}

h1 a, h1 span {
	vertical-align: top;
	padding-top: 0;
	padding-bottom: 0;
	height: 2em;
	display: inline-block;
    color: #FFFFFF;
    margin: 0;
}

h1 a:hover {
	color: #FFFFFF;
    background: #00c3d7;
}
h1 a#logo {
	float: left;
	height: 2em;
	overflow: hidden;
	padding: 0 10px 0 5px;
}

h2 {
  font-size:110%;
  text-align: left;
}

.clickable {
    cursor: pointer;
}

.filter-box {
    padding:0;
    position:relative;
}

.filter-settings {
    padding:0;
    margin-bottom:5px;
}

.filter-box > * {
    display:block;
}

#filter-veil {
    top:0;
    position: absolute;
    height:100%;
    width:100%;
    background-color:rgba(0, 0, 0, 0.1);
    z-index: 0;
    visibility: hidden;
}
#filter-veil.shown {
    z-index: 2000;
    visibility: visible;
}

.filter-category {
    font-weight:bold;
    display: block;
    padding: 5px;
    margin: 0px 0px 5px 0px;
    color: #FFFFFF;
    background: #1AA3B1;
}

.filter-category button {
    vertical-align:middle;
    float:right;
    padding:0.4em;
    margin:0px 5px 0px 0px;
    font-size:smaller;

}

.filter-values {
    margin-left: 5px;
    margin-right:5px;
    margin-bottom:5px;
    font-size:smaller;
    line-height:1.5em;
}

.filter-values input[type=checkbox] {
    display:none;
}

.filter-values input[type="checkbox"] + label {
    padding: 2px;
    margin-left: 0em;
    display:block;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label:before {
    content: url('../img/checkbox_checked.png');
}

input[type="checkbox"] + label:before {
    content: url('../img/checkbox.png');
    padding-right:3px;
    vertical-align:middle;
}


#days_filter {
    margin-bottom: 2px;
}

.filter-values div:hover {
    background: #DDDDDD;
}

.talk-info {
    background: #ffffff;
}

#content {
    margin-left: 5px;
    min-width: 250px;
}

.content{
	margin-top: 3em;
    margin-bottom:2.5em;
}

.content * {
    transition: height 0.5s ease, width 0.5s ease;
    vertical-align: text-top;
}

#nav {
    margin-left:5px;
    margin-right: 5px;
    background-color: #ffffff;
    padding:0px;
    width:96%;
    border: 1px solid #dddddd;
}

#nav h2 {
    margin:5px 5px 15px 5px;
    color: #1AA3B1;
}
#talks-grid {
    background-color: #eeeeee;
}

#talks-grid table {
    border-collapse:separate;
    border-color:transparent;
    width: 100%;
    table-layout: fixed;
}
#talks-grid td:first-child {
    padding-top:5px;
    width:36px;
}
div.time-cell {
    transform: rotate(-90deg);
    position: relative;
    top: 25px;
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

div.talk-widget  {
	border-bottom: none;
    display: inline-block;
    width: 30%;
    margin: 5px;
    padding: 5px;
}
div.talk-cell {
    background-color: #ffffff;
    vertical-align:top;
    display: inline-block;
    min-width:200px;
    width: 100%;
    line-height:1.1em;
	border-bottom: none;
}
div.title {
    font-weight:bold;
    color: #1AA3B1;
    width:100%;
}

div.track {
    font-weight:bold;
    font-size:smaller;
    font-style:italic
    display:block
}
div.track span {
    font-style:italic;
    font-weight: normal;
}
div.room {
    font-weight:bold;
    font-size: smaller;
    display:block;
}
div.speaker span {
    font-size: smaller;
    font-weight:bold;
}
div.time {
    display:inline-block;
    font-weight: bold;
    font-size: smaller;
}
div.room span, div.time span {
    font-weight: normal;
}
.time, .track, .room, .time *, .track *, .room * {
    vertical-align: middle;
}

.time-extra {
    color: #BF5A00;
    font-weight: bold;
    font-size: smaller;
    display:block;
}

.time-extra * {
    vertical-align: middle;
}

/* SPKEAKER PAGE */
.speakertalks .speaker {
    display:none;
}
#speakers, #talkinfo {
    border-spacing: 5px;
    border-collapse: separate;
    background: #eee;
    border:none;
    padding:0px;
}
#speakers .speakerinfo .talk-cell {
    min-width: 80px;
    width:90%;
    padding: 12px;
    background:transparent;
    white-space: normal;
}
#speakers .speakertalks .talk-cell {
    min-width: 120px;
}
.speakerinfo .title {
    color: #777;

}
/* TALK DETAIL PAGE */
#talkinfo .talk-details {
    width:25%;
    min-width:300px;
}
#talkinfo .label {
    font-weight: bold;
    display: inline-block;
}
#talkinfo .title {
    display: inline-block;
    width:auto;
}
#talkinfo .speaker-list {
    margin-bottom: 15px;
}
#talkinfo div.talk-abstract {
    margin-top:15px;
}
#talkinfo td {
    padding: 1em;
}

/* Footer */
.content-wrapper {
    min-height: 80%;
}

.talk-content {
    overflow: auto;
    padding-bottom: 30px;
}

.header {
    background: white;
    top: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1005; /* side-menu has 1000 */
    box-shadow: 0px 0px 4px 2px #666666;
}

.footer {
    background: white;
    bottom: 0;
    font-size: smaller;
    padding:0.5em;
    margin:0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1005; /* side-menu has 1000 */
    box-shadow: 0px 0px 4px -2px #000000;
}

#update-info {
    position: absolute;
    top:0;
    left:0;
    text-align:left;
    z-index:10;
    display:inline-block;
    padding:6px;
}


/* FAVOURITES */
.fav {
    margin-left:5px;
    display:inline-block;
}
.fav:hover {
    color: #00c3d7;
}

/* IMPRINT */
.imprint {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding:1em;
}

.imprint p {
     font-size: 11pt;
     line-height: 15pt;
     margin: 0;
     padding: 0;
}

.hidden {
    display: none;
}

#loading {
    background: url('../img/ajax-circle.gif') no-repeat center 20%;
    height: 150%;
    width: 100%;
}

#nothingtoshow {
    color: #BF5A00;
    font-weight: bold;
    text-align:center;
    vertical-align:top;
    padding:5em 0;
    width:100%;
}

#nothingtoshow a {
    font-weight: bold;
    padding:0;
}

#cookies {
    z-index: 2000;
    border: 1px solid #1AA3B1;
    position: absolute;
    top : 0px;
    left: 0px;
    padding: 7px;
    width: 99%;
    text-align: center;
    background: #FFFFFF;
  	box-shadow: 0px 2px 3px 0px #666666;
}
#cookies a {
    padding: 0;
    margin: 0;
}

#alert-window {
    border: 1px solid #1AA3B1;
    position: absolute;
    top : 1px;
    left: 1px;
    width: 350px;
    text-align: center;
    background: #FFFFFF;
  	box-shadow: 0px 2px 3px 0px #666666;
    visibility: hidden;
}
.alert-title {
    background: #1AA3B1;
    color: #FFFFFF;
    margin: 0;
    padding: 5px;
}
.alert-body, .alert-button {
    padding: 10px;
}
.alert-button {
	margin-top: 10px;
	border-top: 1px solid #ddd;
}

#alert-window.shown {
    z-index: 2000;
    visibility: visible;
}

.day-short {
	display:none;
}
.day-long {
	display:inline;
}
.talk-cell .speaker {
	display:block;
}

/* RESPONSIVE TWEAKS for small screens */
@media (max-width: 47.9em) {
	div.talk-widget  {
		display:block;
		width:95%;
		border-bottom: 1px solid #ddd;
	}
	div.time-cell {
		top: 7px;
	}
	div.talk-widget:last-child  {
		border-bottom: none;
	}
	.talk-cell div.room, .talk-cell div.time, .talk-cell div.time-extra  {
		display:inline-block;
		padding-right: 5px;
	}
	.talk-cell div.room, .talk-cell div.room {
	    display: block;
		max-width: 100px;
		overflow: visible;
		white-space:nowrap;
	}
	.talk-cell div.track {
		display:none
	}
	.day-short {
		display:inline;
	}
	.day-long {
		display:none;
	}
	.talk-cell .title {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		width: 100%;
		text-overflow: ellipsis;
	}
	.talk-cell .speaker {
		display:none;
	}
    .content {
        font-size: 95%;
        padding: 0;
        width:98%
    }
    h1 {
    	text-align: left;
    }
    h1 #pagetitle {
    	display: inline-block;
    }
    #talkpage h1 #pagetitle {
    	display: none;
    }
    h1 #mainmenu-button {
    	display: inline-block;
    	float: right;
    	padding-right: 5px;
    	font-size: smaller;
    	cursor: pointer;
    }
    h1 #mainmenu-button img {
       	vertical-align: middle;
	}
    h1 #mainmenu-items {
    	height: auto;
    	font-size: smaller;
    	background: #1aa3b1;
    	width: 200px;
    	position: fixed;
    	display: none;
    	top: 40px;
    	right: 0px;
    }
    h1 #mainmenu-items.shown {
    	display: block;
    	box-shadow: 0px 2px 3px 0px #666666;
    }
	h2 {
	  margin-left:5px;
	}
    button.day-widescreen {
        display: none;
    }
    button.day-smallscreen {
        display: inline-block;
    }

    .mainmenu {
    	display: block;
    	border-bottom: 1px solid #FFFFFF;
    }
    .mainmenu:last-child {
    	display: block;
    	border-bottom: none;
    	padding-bottom: 5px;
    }
    #language-select {
        margin-left:0;
    }
	#login-area {
		right: 2.5em;
	}
   	#speakers {
    	table-layout: fixed;
    	width: 100%;
    }
    #speakers .speakerinfo {
    	width: 95px;
    }
    #speakers .speakertalks {
    	width: 90%;
    }
    #speakers .speakerinfo .talk-cell {
        width:90px;
        padding: 0px;
    }
    #speakers .speakerinfo .talk-cell .title {
		white-space: normal;
    }
    #talkinfo, #talkinfo td, #talkinfo .talk-details {
        display:block;
        min-width:0px;
        width:auto;
        margin:5px;
    }
    #alert-window {
        width: 240px;
    }
    #cookies {
        width: 94%;
    }
}

/* PURE CSS overrides */
.pure-g {
    letter-spacing: 0em;
}
