html, body {
    width:100%;
    height:99%;
    margin:0;
    color: #777777;
}

body  {
    max-width: 1300px;
    margin:auto;
    font-family:Sans-Serif;
    text-align:left;
}

table {
    background-color: #eeeeee;
}

th {
    background-color: #666666;
    color: #ffffff;
}

td {
    background-color:#ffffff;
}

.more {
    overflow: hidden;
    background: transparent;
    position:relative;
}

.more div {
    padding: 5px;
    margin: 5px;
}

.more.shown div {
    overflow-x:auto;
    margin-top: 5px;
    transition: height 0.7s, margin-top 0.7s;
}

.more.folded div {
    transition: height 0.5s, margin-top 0.5s;
    margin-top: -1500px;
}

a {
    color: #1AA3B1;
    border-radius:5px;
    font-weight:normal;
    padding-right:0.5em;
    padding-left:0.5em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    text-decoration:none;
    display:inline;
    transition: background 0.7s
}

a:hover {
    background:#dddddd;
    transition: background 0.7s
}

h1 {
    font-size:120%;
    line-height:2em;
    text-align: center;
    color: #FFFFFF;
    background: #1AA3B1;
}

h2 {
  font-size:110%;
  text-align: left;
}


.clickable {
    cursor: pointer;
}

.filter-box {
    padding:0;
}

.filter-box > * {
    display:block;
}

.filter-category {
    font-weight:bold;
    display: block;
    padding: 5px;
    margin: 5px 0px 5px; 0px;
    color: #FFFFFF;
    background: #1AA3B1;
}

.filter-values {
    margin-left: 5px;
    margin-right:5px;
    font-size:smaller;
    line-height:1.5em;
}

.filter-values input[type=checkbox] {
    display:none;
}

.filter-values input[type="checkbox"] + label {
    padding: 2px;
    margin-left: 1em;
    display:block;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label {
    margin-left: 0em;
}

input[type="checkbox"]:checked + label:before {
    content: '\2714';
    padding-right:3px;
}


.filter-values div:hover {
    background: #DDDDDD;
}

.talk-info {
    background: #ffffff;
}

#content {
    min-width: 250px;
}

#nav {
    float:left;
    display: inline-block;
    min-width: 250px;
    margin-left:0px;
    margin-right: 5px;
    padding:0px;
    border: 1px solid #dddddd;
}

#nav h2 {
    margin:5px 5px 15px 5px;
}

.pure-g {
    letter-spacing: 0em;
}

#talks-grid {
    background-color: #eeeeee;
}
div.talk-cell {
    background-color: #ffffff;
    vertical-align:top;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    min-width:200px;
    width: 30%;
}
div.title {
    font-weight:bold;
    color: #1AA3B1;
}

div.track {
    font-weight:bold;
    font-size:smaller;
    font-style:italic
}
div.track span {
    font-style:italic;
    font-weight: normal;
}

div.room {
    font-weight:bold;
    font-size: smaller;
}
div.room {
    font-weight:bold;
    font-size: smaller;
}
div.time {
    display:inline-block;
    font-weight:bold;
    font-size: smaller;
}
div.room span, div.time span {
    font-weight: normal;
}
.morelink {
    font-size: smaller;
}


/* Media queries */

@media all and (max-width: 400px) {
    #nav {
        float:none;
        display: none;
    }
    #content {
        display:block;
        width:100%
    }
}
@media all and (min-width: 401px) {
    #nav {
        float:left;
        display: inline-block;
    }
    #content {
        display:inline-block;
        width:75%
    }
}

