html, body {
    width:100%;
    height:99%;
    margin:0;
    color: #777777;
}

body  {
    font-family:Sans-Serif;
    text-align:left;
}

table, th, td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 5px;
}

button {
    background-color: #e6e6e6;
    border: 0 none rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
    font-family: inherit;
    font-weight:bold;
    padding: 0.7em;
    font-size:smaller;
}
button {
    -moz-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
button:hover, button:focus {
    background-color:#eee;
}
button.selected {
    background-color:#eee;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
th {
    background-color: #666666;
    color: #ffffff;
}

td {
    background-color:#ffffff;
}

.more {
    overflow: hidden;
    background: transparent;
    position:relative;
}

.more div {
    padding: 5px;
    margin: 5px;
}

.more.shown div {
    overflow-x:auto;
    margin-top: 5px;
    transition: height 0.7s, margin-top 0.7s;
}

.more.folded div {
    transition: height 0.5s, margin-top 0.5s;
    margin-top: -1500px;
}

.header img {
    float:left;
    margin-left:5px;
}

.main-menu {
    margin-top: 0.5em;
    display: inline-block;
    float:left;
}

a {
    color: #1AA3B1;
    font-weight:normal;
    padding-right:0.5em;
    padding-left:0.5em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    text-decoration:none;
    display:inline;
    transition: background 0.7s
}

a:hover {
    background:#dddddd;
    transition: background 0.7s
}

h1 {
    clear:both;
    font-size:120%;
    line-height:2em;
    text-align: center;
    color: #FFFFFF;
    background: #1AA3B1;
}

h2 {
  font-size:110%;
  text-align: left;
}

.clickable {
    cursor: pointer;
}

.filter-box {
    padding:0;
}

.filter-box > * {
    display:block;
}

.filter-category {
    font-weight:bold;
    display: block;
    padding: 5px;
    margin: 5px 0px 5px; 0px;
    color: #FFFFFF;
    background: #1AA3B1;
}

.filter-values {
    margin-left: 5px;
    margin-right:5px;
    font-size:smaller;
    line-height:1.5em;
}

.filter-values input[type=checkbox] {
    display:none;
}

.filter-values input[type="checkbox"] + label {
    padding: 2px;
    margin-left: 1em;
    display:block;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label {
    margin-left: 0em;
}

input[type="checkbox"]:checked + label:before {
    content: '\2714';
    padding-right:3px;
}

#days_filter {
    margin-bottom: 2px;
}

.filter-values div:hover {
    background: #DDDDDD;
}

.talk-info {
    background: #ffffff;
}

#content {
    margin-left: 5px;
    min-width: 250px;
}

#nav {
    margin-left:5px;
    margin-right: 5px;
    background-color: #ffffff;
    padding:0px;
    width:96%;
    border: 1px solid #dddddd;
}

#nav h2 {
    margin:5px 5px 15px 5px;
}
#talks-grid {
    background-color: #eeeeee;
}
div.talk-cell {
    background-color: #ffffff;
    vertical-align:top;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    min-width:200px;
    width: 30%;
}
div.title {
    font-weight:bold;
    color: #1AA3B1;
}

div.track {
    font-weight:bold;
    font-size:smaller;
    font-style:italic
}
div.track span {
    font-style:italic;
    font-weight: normal;
}

div.room {
    font-weight:bold;
    font-size: smaller;
}
div.speaker span {
    font-weight:bold;
}
div.time {
    display:inline-block;
    font-weight:bold;
    font-size: smaller;
}
div.room span, div.time span {
    font-weight: normal;
}
.morelink {
    font-size: smaller;
}


/* PURE CSS overrides */
.pure-g {
    letter-spacing: 0em;
}

