html, body {
    width:100%;
    height:99%;
    margin:0;
    color: #777777;
}

body  {
    font-family:Sans-Serif;
    text-align:left;
}

table, th, td {
    border: 1px solid #ddd;
    vertical-align: top;
    padding: 5px;
}

button {
    background-color: #eee;
    border: 0 none rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.8);
    font-weight:bold;
    font-size:smaller;
    line-height: normal;
    text-align: center;
    padding: 0.7em;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}
button:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
}
button:hover, button:focus {
    background-color:#eee;
}
button.selected {
    background-color:#ddee55;
}
th {
    color: #1AA3B1;
    background-color:#fff;
}

td {
    background-color:#ffffff;
}

.header img {
    float:left;
    margin-left:5px;
}

.main-menu {
    margin-top: 0.5em;
    display: inline-block;
    float:left;
}

a {
    color: #1AA3B1;
    font-weight:normal;
    padding-right:0.5em;
    padding-left:0.5em;
    padding-top:0.2em;
    padding-bottom:0.2em;
    text-decoration:none;
    display:inline;
    transition: background 0.7s
}

a:hover {
    color:#00c3d7;
}

h1 {
    clear:both;
    font-size:120%;
    line-height:2em;
    text-align: center;
    color: #FFFFFF;
    background: #1AA3B1;
}

h2 {
  font-size:110%;
  text-align: left;
}

.clickable {
    cursor: pointer;
}

.filter-box {
    padding:0;
}

.filter-box > * {
    display:block;
}

.filter-category {
    font-weight:bold;
    display: block;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    color: #FFFFFF;
    background: #1AA3B1;
}

.filter-values {
    margin-left: 5px;
    margin-right:5px;
    font-size:smaller;
    line-height:1.5em;
}

.filter-values input[type=checkbox] {
    display:none;
}

.filter-values input[type="checkbox"] + label {
    padding: 2px;
    margin-left: 1em;
    display:block;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label {
    margin-left: 0em;
}

input[type="checkbox"]:checked + label:before {
    content: '\2714';
    padding-right:3px;
}

#days_filter {
    margin-bottom: 2px;
}

.filter-values div:hover {
    background: #DDDDDD;
}

.talk-info {
    background: #ffffff;
}

#content {
    margin-left: 5px;
    min-width: 250px;
}

#nav {
    margin-left:5px;
    margin-right: 5px;
    background-color: #ffffff;
    padding:0px;
    width:96%;
    border: 1px solid #dddddd;
}

#nav h2 {
    margin:5px 5px 15px 5px;
    color: #1AA3B1;
}
#talks-grid {
    background-color: #eeeeee;
}

#talks-grid table {
    border-collapse:separate;
    border-color:transparent;
}
#talks-grid td:first-child {
    padding:0;
}
#talks-grid td:last-child {
    width:100%;
}

div.time-cell {
    transform: rotate(-90deg);
    position: relative;
    top: 7px;
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

div.talk-cell {
    background-color: #ffffff;
    vertical-align:top;
    margin: 5px;
    padding: 5px;
    display: inline-block;
    min-width:200px;
    width: 30%;
    line-height:1.1em;
}
div.title {
    font-weight:bold;
    color: #1AA3B1;
    width:100%;
}

div.track {
    font-weight:bold;
    font-size:smaller;
    font-style:italic
}
div.track span {
    font-style:italic;
    font-weight: normal;
}
div.room {
    font-weight:bold;
    font-size: smaller;
}
div.speaker span {
    font-size: smaller;
    font-weight:bold;
}
div.time {
    display:inline-block;
    font-weight: bold;
    font-size: smaller;
}
div.room span, div.time span {
    font-weight: normal;
}
.time, .track, .room, .time *, .track *, .room * {
    vertical-align: middle;
}

.time-extra {
    color: #BF5A00;
    font-weight: bold;
    font-size: smaller;
}

.time-extra *{
    vertical-align: middle;
}

/* SPKEAKER PAGE */
.speakertalks .speaker {
    display:none;
}
#speakers, #talkinfo {
    border-spacing: 5px;
    border-collapse: separate;
    background: #eee;
    border:none;
    padding:0px;
}
#speakers .speakerinfo .talk-cell {
    min-width: 80px;
    width:95%;
    background:transparent;
    white-space: normal;
}
#speakers .speakertalks .talk-cell {
    min-width: 120px;
}
.speakerinfo .title {
    color: #777;

}
/* TALK DETAIL PAGE */
#talkinfo .talk-details {
    width:25%;
    min-width:300px;
}
#talkinfo .label {
    font-weight: bold;
    display: inline-block;
}
#talkinfo .title {
    display: inline-block;
    width:auto;
}
#talkinfo .speaker-list {
    margin-bottom: 15px;
}
#talkinfo div.talk-abstract {
    margin-top:15px;
}
#talkinfo td {
    padding: 1em;
}

/* Footer */
.content-wrapper {
    min-height: 85%;
}

.talk-content {
    overflow: auto;
    padding-bottom: 30px;
}

.footer {
    background: white;
    bottom: 0;
    font-size: smaller;
    padding:0.5em;
    margin:0;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 1005; /* side-menu has 1000 */
    box-shadow: 0px 0px 4px -2px #000000;
}

/* FAVOURITES */
.fav {
    margin-left:5px;
    display:inline-block;
}
.fav:hover {
    color: #00c3d7;
}

/* IMPRINT */
.imprint {
    max-width: 400px;
    margin: 30px auto;
    padding:1em;
}
.imprint table, .imprint td, .imprint th {
    border: none;
    vertical-align:top;
}

 .imprint th {
    background: transparent;
    color: #777777;
    text-align:right;
 }

.imprint tr:first-child td {
    text-align:center;
    font-size:larger;
    font-weight: bold;
    padding:1em;
}

.imprint td em {
    font-size:smaller;
}

/* PURE CSS overrides */
.pure-g {
    letter-spacing: 0em;
}

/* RESPONSIVE TWEAKS for small screens */
@media (max-width: 47.9em) {
    .content {
        font-size: 95%;
    }
    #speakers .speakerinfo .talk-cell {
        width:90px;
    }
    #talkinfo, #talkinfo td, #talkinfo .talk-details {
        display:block;
        min-width:0px;
        width:auto;
        margin:5px;
    }
}